.CV{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CV h2{
    text-shadow: 0px 4px 4px #0005;
    font-weight: 600;
    font-size: 1.8rem;
}

.CV__container{
    max-width: 95%;
    width: 40rem;
    height: 20rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px 2px #0008;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0;
}

.CV__container::-webkit-scrollbar{
    display: none;
}

.CV__inside{
    width: 100%;
}

.CV__inside:hover{
    cursor: n-resize;
    opacity: 0.8;
}

.scrollDown{
    width: 2rem;
    margin-bottom: 0.5rem;
}

.animate__fadeInDown{
    animation-delay: 1s;
    animation-duration: 3s !important;
    animation-iteration-count: infinite;
}

.CV__svg{
    width: 3rem;
}

.CV__svg:hover{
    opacity: 0.5;
    filter: drop-shadow(1px 1px 1px #0008);
    cursor: pointer;
}

.CV span{
    font-weight: 500;
}