
.MyProjects{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyProjects h2{
    text-shadow: 0px 4px 4px #0005;
    font-weight: 600;
    font-size: 1.8rem;
}

.MyProject__card{
    width: 95%;
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    align-items: flex-start;
}

@media screen and (max-width: 530px){
    .MyProject__card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

