.MobileMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MobileMenu a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #ddd;
    line-height: 1.8rem;
    background-color: #ddd3;
}

.MobileMenu a:hover{
    background-color: #ddd5;
}