header{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #0005;
    background-image: linear-gradient( 109.6deg,  rgba(3,61,69,1) 16%, #ccc 91.1% );
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
}

nav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 1s;
}

.navbarExtended{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: height 1s;
    text-align: center;
    font-weight: 300;
}


.navbarExtended h1{
    display: block;
    width: 100%;
    font-weight: 400;
    text-shadow: 0px 4px 4px #0005;
    color: #ddd;
}

.navbarExtended h2{
    display: block;
    width: 100%;
    font-weight: 300;
    text-shadow: 0px 4px 4px #0005;
    color: #ddd;
}

.navbarExtended img{
    width: 1.5rem;
}

.navbarExtended span{
    margin: 1rem 0 0.5rem 0;
    font-size: 0.8rem;
    color: #ddd;
}

.animate__fadeInDown{
    animation-delay: 1s;
    animation-duration: 3s !important;
    animation-iteration-count: infinite;
}

.navbarNotExtended{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    text-align: center;
}

.navbarNotExtended:hover{
    transform: scale(1.05);
}

.navbarNotExtended h1{
    font-size: 0.9rem;
    font-weight: 200;
    color: #fff;
}

.navbarNotExtended h2{
    font-size: 0.9rem;
    font-weight: 200;
    margin: 0 0.5rem;
    color: #fff;
}

.navbarNotExtended h1::after{
    content: "  |  ";
    color: #fff;
}

.navbarNotExtended h2::before{
    content: "  |  ";
    color: #fff;
}

.navbarNotExtended span{
    display: none
}

.navbarNotExtended img{
    display: none
}

.HamburgerMenu{
    display: none;
    height: 2.5rem;
}

.HamburgerMenu__svg{
    width: 2rem;
    margin: 0 1.5rem;
    cursor: pointer;
}

.HamburgerMenu__svg:hover{
    transform: rotate(180deg);
    transition: 1s;
}

@media screen and (max-width: 800px){
    .Categories{
        display: none;
    }
    .HamburgerMenu{
        display: flex;
    }
}

@media screen and (max-width: 410px){
    .navbarNotExtended h2::before{
        display: none;
    }
    .navbarNotExtended h1::after{
        display: none;
    }
    .navbarNotExtended{
        flex-direction: column;
        height: 3rem;
    }
    .navbarNotExtended h1{
        margin: 0.2rem;
    }
}